@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto
}

a:hover {
  @apply cursor-pointer
}


.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M14.9991 19L9.83911 14C9.56672 13.7429 9.34974 13.433 9.20142 13.0891C9.0531 12.7452 8.97656 12.3745 8.97656 12C8.97656 11.6255 9.0531 11.2548 9.20142 10.9109C9.34974 10.567 9.56672 10.2571 9.83911 10L14.9991 5' stroke='%23264653' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' transform='matrix(-1, 0, 0, 1, 0, 0)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M14.9991 19L9.83911 14C9.56672 13.7429 9.34974 13.433 9.20142 13.0891C9.0531 12.7452 8.97656 12.3745 8.97656 12C8.97656 11.6255 9.0531 11.2548 9.20142 10.9109C9.34974 10.567 9.56672 10.2571 9.83911 10L14.9991 5' stroke='%23264653' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

html,
body {
  @apply bg-primary
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-shine::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg)
}

@keyframes hover-shine {
  0% {
      left: -100%
  }

  100% {
      left: 120%
  }
}

.hover-shine:hover::before {
  animation-name: hover-shine;
  animation-duration: 1.5s
}

.campaigncard img{
  transition: all 250ms ease-in-out;

}
.campaigncard:hover img{
  transform: scale(110%);
  transition: all 250ms ease-in-out;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  @apply transition-all
}

.card:hover .text-content {
  @apply bg-opacity-100 transition-all
}

.card img {
  @apply scale-100 transition-all
}

.card:hover img {
  @apply scale-110 transition-all
}
.header {
  @apply bg-secondary  max-sm:py-2 max-sm:px-2
}

.menuList {
  @apply flex items-center  max-sm:hidden
}

.menuList>li{
  @apply  ms-10 text-white h-[80px] flex items-center
}
.iconsActions li:hover,
.menuList>li:hover{
  @apply text-red-300 transition-all underline
}

.iconsActions{
  @apply  ms-10 text-white flex items-center
}

.iconsActions li{
  @apply  ms-5
}

.offcanvas {
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 20;
  height: 100%;
  transition: all 250ms ease-in-out;
  background: white;
  color: black;
}

.offcanvas.active {
  right: 0;
  transition: all 250ms ease-in-out;
}

.offcanvas-over {
  background-color: rgba(0, 0, 0, 0.24);
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 19;
  transition: all 250ms ease-in-out;
}

.offcanvas-over.active {
  width: 100%;
  transition: all 250ms ease-in-out;

}

.offcanvas .offcanvas-body {
  height: 79vh;
  overflow: auto;
}
